.navbar{
    -webkit-box-shadow: 2px 2px 4px 0px rgba(192,192,192,1);
    -moz-box-shadow: 2px 2px 4px 0px rgba(192,192,192,1);
    box-shadow: 2px 2px 4px 0px rgba(192,192,192,1)
}
.bg-navbar {background-color: #F8F9FA;} 
/* make navbar links less subdued */
.navbar-dark .navbar-brand,
.navbar-dark .navbar-text {
    color: rgba(255,255,255,.9);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: #ffffff;
}